@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: gt;
  font-weight: 100;
  src: url(/fonts/gt-light.woff2);
}

@font-face {
  font-family: gt;
  font-weight: 400;
  src: url(/fonts/gt-regular.woff2);
}

@font-face {
  font-family: gt;
  font-weight: 700;
  src: url(/fonts/gt-bold.woff2);
}

@font-face {
  font-family: gt;
  font-weight: 900;
  src: url(/fonts/gt-black.woff2);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: gt;
  overflow-x: hidden;
}
